* CSS styles */



body{
background-color: lightblue; !important
}

h1 {
  font-family: Optima, sans-serif;
  color: darkslategray;
  font-size: 35px;
  text-align: center;
  padding: 0.5em;
  column-span: all;
  margin: 0;
  background-size: 100px 100px;
}

h2 {
  
  font-family: Trebuchet, sans-serif;
  column-span: all;
  font-size: 20px;
  line-height: 1;
  color: black;
  padding: 0.5em;
  margin: 0;
  text-align: center;
  font-weight: 100;
}

h3{
  font-family: Trebuchet, sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  column-span: all;
   margin: 0;
   
  background-color: #c6cac5;
  
}

h4{
  font-family: Trebuchet, sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  column-span: all;
  line-height: 4;
  background-color: #b6c9cd;
  
}

p{
  font-family: Trebuchet, sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.t2{
    width: 33.3333%;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    font-size: 15px;
    margin-right: 20px;
}

.t1{
  letter-spacing: -.31em;
    text-rendering: optimizespeed;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.t3{
  width: 55.6667%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  font-size: 15px;
  
}

.t4{
  width: 50.6667%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  font-size: 15px;
}

.t5{
    width: 33.3333%;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    font-size: 150px;
    margin-left: 20px;
}

.t10{
  letter-spacing: -.31em;
    text-rendering: optimizespeed;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
