* CSS styles */



body{
background-color: lightblue !important;
}
.goshB{
  background-color: #f6f4f3;
}
.topTitle{
  margin-top: 24px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
  font-family: Optima, sans-serif;
  font-size: 32px;
  color: darkslategray;

}

.subTitle1 {
   width: 80%;
   margin-right: auto;
   margin-left: auto;
   margin-top: 16px;
   text-align: center;
   font-size: 24px;
   font-family: Trebuchet, sans-serif;
}

.subTitle2 {
   width: 80%;
   height: 80px;
   margin-top: 24px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   font-size: 16px;
   font-family: Trebuchet, sans-serif;
}

.subTitle3 {
   margin-top: 8px;
   text-align: center;
   font-size: 20px;
   font-family: Trebuchet, sans-serif;
   line-height: 4;
   background-color: #b6c9cd;
   font-weight: 100;
}

.first-map{
  margin-top: 16px;
   width: 100%;
   display: flex;
   justify-content: center;
   
}

.description1{
  width: 80%;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 32px;
}

.description2{
  width: 80%;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 16px;
}

.backgroundLine{
   text-align: center;
   font-size: 20px;
   font-family: Trebuchet, sans-serif;
   line-height: 2;
   background-color: #b6c9cd;
   font-weight: 100;
}
